<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='game.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>

{% if winner == 'draw' %}
<h3>There was a tie!</h3>

{% else %}
<h3>{{ winner.capitalize() }} WINS!</h3>
{% endif %}
<p>Player 1 chose: {{ player_1_choice }} </p>
<p>Player 2 chose: {{ player_2_choice }}</p>
</body>
</html>